
p {
  color: black;
  width: auto;
}

body {
    font-family: sans-serif;
    background-color: #ffffcc;
    width: 90%;
    margin: 0 auto;}

#header {
    overflow: auto;
    background-color: #93FEE8;
  }

#MainTopImage {
  height: 100px;
  width; 200px;
  background-color: #e6ffcc;
}

#nav {
  background-color: #AAF2C2;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin:10px;}

.column {
  display:inline-block;
  font-family: cursive;
  text-align: left;
  background-color: #ffcccc;
  width: 300px;
  padding: 5px;
  margin: 10px;
}

li {
  disply: inline;
  background-color: pink;
  width; 300px;
  float:left;
  padding: 5px;
  margin: 10px;
}

#footer {
  display:inline-block;
  float:left;
  padding: 5px;
  margin: 10px;
}
