
p {
  color: black;
  width: 100px;
}

body {
    font-family: sans-serif;
    background-color: #E9AAF2;
    width: 90%;
    margin: 0 auto;}

#header {
    overflow: auto;
    background-color: #93FEE8;
  }

#MainTopImage {
  height: 50px;
  width; auto;
  background-color: red;
}

#nav {
  background-color: #AAF2C2;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin:10px;}

/*I need help to align my 3 columns along the top edge. I also want the "title of each column to be centered within each column" */
.column {
  display:inline-block;
  text-align: left;
  font-family: cursive;
  background-color: pink;
  width: 300px;
  padding: 5px;
  margin: 10px;
}

.li {
  display:inline-block;
  background-color: pink;
  width; 300px;
  float:left;
  padding: 5px;
  margin: 10px;
}

#footer {
  display:inline-block;
  float:left;
  padding: 5px;
  margin: 10px;
}
